.language-button {
    width: 50px;
    height: 30px;
    background-size: cover;
}

#englishLanguageButton {
    background-image: url("/static/img/uk_flag.png");
    font-size: 0;
    border: 2px solid black;
}

#ukrainianLanguageButton {
    background-image: url("/static/img/ua_flag.png");
    font-size: 0;
    border: 2px solid black;
}

.error-message {
    color: red;
}

.tour-block div {
    border: 2px solid black;
}

.tour-burning-true div {
    background: orange;
}

/* USERS PAGE (block | unblock) */
.user-field {
    border: 2px solid black;
}

.blocked-true {
    background: #ff8d75;
}

.blocked-false {
    background: limegreen;
}