.language-button {
    width: 50px;
    height: 30px;
    background-size: cover;
}

#englishLanguageButton {
    background-image: url("/static/img/uk_flag.png");
    font-size: 0;
    border: 2px solid black;
}

#ukrainianLanguageButton {
    background-image: url("/static/img/ua_flag.png");
    font-size: 0;
    border: 2px solid black;
}

.error-message {
    font-weight: bold;
    color: red;
}

/******************************************/
/************* LOGIN PAGE *****************/
/******************************************/

.login-form {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
}

/******************************************/
/********** REGISTRATION PAGE *************/
/******************************************/

.registration-form {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
}

/******************************************/
/************* CATALOG PAGE ***************/
/******************************************/

.tour-name {
    border-bottom: 3px solid #3a763f;
    font-style: italic;
}

.filter-block {
    border: 2px solid black;
}

.tour-block {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
}

.tour-burning-true {
    border: 5px solid orange;
    box-shadow: 0 0 5px 1px orange;
}

.tour-date {
    font-weight: bold;
}

.pagination-list li {
    display: inline-block;
    list-style-type: none;
}

.pagination-list .pageNumber {
    background: #ebd9df;
    width: 40px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.5;
}

/******************************************/
/********** TOUR CREATION PAGE ************/
/******************************************/

.tour-creation-block {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
    background: #ebe9e9;
}

/******************************************/
/****** USERS PAGE (block | unblock) ******/
/******************************************/

.user-block-header div {
    border: 2px solid black;
    font-weight: bold;
    background: #acd78b;
}

.user-field {
    border: 2px solid black;
    font-weight: bold;
}

.blocked-true div {
    font-weight: bold;
    color: red;
}