.language-button {
    width: 50px;
    height: 30px;
    background-size: cover;
}

#englishLanguageButton {
    background-image: url("/static/img/uk_flag.png");
    font-size: 0;
    border: 2px solid black;
}

#ukrainianLanguageButton {
    background-image: url("/static/img/ua_flag.png");
    font-size: 0;
    border: 2px solid black;
}

.error-message {
    font-weight: bold;
    color: red;
}

/******************************************/
/************* LOGIN PAGE *****************/
/******************************************/

.login-form {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
}

/******************************************/
/********** REGISTRATION PAGE *************/
/******************************************/

.registration-form {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
}

/******************************************/
/************* CATALOG PAGE ***************/
/******************************************/

.filter-block {
    border: 2px solid black;
}

.tour-block div {
    border: 2px solid black;
}

/******************************************/
/********** TOUR CREATION PAGE ************/
/******************************************/

.tour-creation-block {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
    background: #ebe9e9;
}

/******************************************/
/****** USERS PAGE (block | unblock) ******/
/******************************************/

.user-block-header div {
    border: 2px solid black;
    font-weight: bold;
    background: #acd78b;
}

.user-field {
    border: 2px solid black;
    font-weight: bold;
}

.blocked-true div {
    font-weight: bold;
    color: red;
}